<header>
  <ul class="nav">
    <li>
      <a href="/pokedex">Pokedex</a>
    </li>
    <li>
      <a href="/walkthrough">Walkthrough</a>
    </li>
    <li>
      <a href="/tips-n-tricks">Tips 'n Tricks</a>
    </li>
    <li>
      <a href="/music">Music</a>
    </li>
    <li>
      <a href="/other">Other</a>
    </li>
  </ul>
  <h1>{{ title }}</h1>
  {%- if subtitle %}<p class="subtitle">{{ subtitle | safe }}</p>{% endif %}
</header>
